<footer id="contact">
    <div class="footerContainer">
        <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-google-plus"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul><li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <!-- <li><a href="">Contact Me</a></li> -->
                
            </ul>
        </div>
        
    </div>
   
</footer>
<!-- <script defer src='scripts/index.js'></script> -->
<!-- <script defer src="/public/scripts/index.js"></script> -->


</body>
</html>