<%- include("partials/header.ejs") %>

    <form class="form" action="/blog" method="post"  class="edit-blog">
        <input class="title-input" type="text" name="title" placeholder="Title"  required>
        <input class="preview" type="text" name="preview" placeholder="Add a preview" required>
        <textarea placeholder="Tell us your story..." class="blog-input" name="blog" cols="40" rows="5"></textarea>
        <button class="new-btn" type="submit">Submit</button>
    </form>


<%- include("partials/footer.ejs") %>