<%- include("partials/header.ejs") %>

    <form class="form" action="/blog" method="post"  class="edit-blog">
        <input class="title-input" type="text" name="title" placeholder="Title"  required>
        <textarea class="blog-input" name="blog" cols="40" rows="5"></textarea>
        <button type="submit">Submit</button>
    </form>


<%- include("partials/footer.ejs") %>