.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 2.5rem;  
}

input{
    border: none;
    background-color: #EEEDEB;
   
}
.title-input{
    text-align: center;
    padding: 0.5rem;
    font-size: 32px;

}

.blog-input{
    padding-bottom: 7rem;
}